body.blog {

    article {
        .entry-header {
            @include outer-container;
            padding-left: 20px;
            padding-right: 20px;
        }

        .entry-content {
            & > a {
                @extend button;
            }
        }
    }
}

time.updated {
    display: none;
}
