@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import "icons";
@import "slick-theme";

@mixin btn($background:#fff, $colour:$blue) {
    display:inline-block;
    height:40px;
    line-height:42px;
    padding:0 20px;
    border-radius:25px;
    font-weight:bold;
    text-decoration:none;
    color:$colour;
    border:solid 5px $colour;
    background-color:$background;
    box-sizing: content-box;

  &:hover {
    background-color:$colour;
    color:$background;
  }
}

/* ==========================================================================
   Base styles
   ========================================================================== */

html,
body {
    height: 100%;
}

html {
    color: $dark-gray;
    font-size: 1em;
    line-height: 1.4;
    overflow-x: hidden;
    background-color: darken($blue, 7);
}

body {
    @media (min-width: $medium-screen) {
        text-align: center;
    }
}


::-moz-selection {
    background: $dark-gray;
    text-shadow: none;
    color: #fff;
}

::selection {
    background: $dark-gray;
    text-shadow: none;
    color: #fff;
}


audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


input[type="text"],
input[type="email"] {
  display:block;
  width:100%;
  box-sizing:border-box;
  height:40px;
  border-radius:20px;
  border:solid 2px #ccc;
  padding:10px 20px;
  margin-bottom:20px;

  &:focus {
    border-color:$blue;
  }
}

input[type="submit"] {
  @include btn ();
  line-height:1;
}

mark {
    background-color: rgba($blue, 0.15);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    -webkit-box-shadow: 0px 0px 0px 3px rgba($blue, 0.15);
    -moz-box-shadow: 0px 0px 0px 3px rgba($blue, 0.15);
    box-shadow: 0px 0px 0px 3px rgba($blue, 0.15);
}



/* ==========================================================================
   Targeted styles
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: $dark-gray;
    color: #fff;
    padding: 0.2em 0;
}


.intro {
    $full-header: 600px;
    $background-colour: $blue;
    $colour: #fff;
    background-color: $background-colour;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    color: $colour;

    a {
        color: inherit;
    }

    & > div:not(.news) {
        @include outer-container;
        padding-bottom: $base-spacing;

        @media (min-width: $medium-screen) and (min-height: $full-header) {
            padding-top: 50px;
        }

        & > div {
            clear: left;

            & > div {
                text-align: left;

                @media (min-width: $medium-screen) {
                    @include span-columns(6);
                }
            }

            &.logo {
                margin-bottom: 20px;

                img {
                    height: 120px;
                    display: none;

                    @media (min-width: $medium-screen) {
                        display: inline;
                    }
                }

                h1 {
                    margin: 0;
                    @media (min-width: $medium-screen) {
                        font-size: 58px;
                    }
                }
                .tagline {
                    font-size: 24px;
                }

                &.horizontal {
                    text-align: left;
                    padding-left: $base-spacing;
                    padding-right: $base-spacing;

                    img {
                        float: left;
                        margin-right: 10px;
                        height: 100px;
                    }

                    h1 {
                        font-size: 41px;

                        @media (min-width: $medium-screen) {
                            padding-top: 11px;
                            text-indent: 6px;
                        }
                    }

                    .tagline {
                        font-size: 19px;

                        @media (min-width: $medium-screen) {
                            display: block;
                            text-indent: 8px;
                            margin-top: -1px;
                        }
                    }
                }
            }

            &.content {

                & > div {
                    padding: $base-spacing;

                    &.video {
                        display: none;

                        @media (min-width: $medium-screen) {
                            display: block;
                        }

                        .videoWrapper {
                            position: relative;
                            //padding-bottom: 56.25%; /* 16:9 */
                            padding-bottom:45%;
                            padding-top: 25px;
                            height: 0;

                            iframe {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }

            .cta {
                padding-top: $small-spacing /2;

                a {
                    @include btn($background-colour, $colour);
                    margin-top:10px;
                    background-color:$colour;
                    color:$background-colour;
                }
            }

        }
    }

    .news {
        background-color: #fff;
        color: $dark-gray;
        padding: $small-spacing $base-spacing;
        font-size: 14px;
        font-weight: bold;

        a {
            display: block;
        }

        strong {
            color: $blue;
        }

    }

    p {
        a {
            border-bottom: dotted 1px #fff;
        }
    }

    .down {
        position: absolute;
        @include icon-font();
        bottom: $base-spacing / 2;
        left: 50%;
        width: 80px;
        margin-left: -40px;
        font-size: 30px;
        display: none;

        &:before {
            content: "\e602";
        }

        @media (min-width: $medium-screen) and (min-height: $full-header) {
            display: block;
        }
    }
}


body > section {
    padding: $base-spacing;
    background-color: #fff;

    @media (min-width: $medium-screen) {
        padding-top: $base-spacing * 2;
        padding-bottom: $base-spacing * 2;
    }

    & > div {
        @include outer-container;

        & > article {
            @media (min-width: $medium-screen) {
                @include span-columns(8);
                @include shift(2);
            }
        }
    }

    &:nth-of-type(even){
        background-color: $light-gray;

        hr {
            border-color: rgba($medium-gray, 0.2);
        }
    }
}


#register,
#contribute {
    form {
        legend {
            margin-bottom:20px;
        }

        .input-group {
            text-align: left;
            margin-bottom: $small-spacing;

            ul {
                padding:0;
                margin-top:10px;

                li {
                    display: table;
                    white-space:nowrap;

                    @media (min-width: $medium-screen) {
                        float: left;
                    }


                    input {
                        display:table-cell;
                        vertical-align: middle;
                    }


                    label {
                        display:table-cell;
                        vertical-align: middle;
                        padding-left: 2px;
                    }
                }
            }
        }


        @media (min-width: $medium-screen) {
            .field-group {
                  float:left;
                  width:48%;

                  &:nth-of-type(even) {
                    float:right;
                  }
            }
        }
    }
}


#register {

    h2 {
        color: $medium-gray;
    }

    article {

        & > a {
            h3 {
                margin: 0;
            }

            span {
                color: $medium-gray;
                font-size: 0.95em;
            }

            &:hover {
                span {
                    color: inherit;
                }
            }
        }

        @media (min-width: $medium-screen) {
            @include span-columns(12);
            @include shift(0);
            @include fill-parent();
            @include row(table);
            padding-top: $small-spacing;

            & > a {
                @include span-columns(4);
                border-right: solid 1px $light-gray;
                padding: $small-spacing;

                &:before {
                    @include icon-font();
                    font-size: 4em;
                }

                &.twitter {
                    &:before {
                        content: "\e900";
                    }
                }

                &.discuss {
                    &:before {
                        content: "\e902";
                    }
                }

                &.subscribe {
                    @include reset-display;
                    border: none;

                    &:before {
                        content: "\e901";
                    }
                }

                h3 {
                    margin-top: -4px;
                }
            }
        }
    }
}

.js #signup-form {
    display: none;
    padding: $base-spacing;
    background-color: white;
    border-radius: $base-border-radius * 2;

    label {
        padding: 0;
        margin: 0;
    }

    input[type="text"],
    input[type="email"] {
        border-radius: $base-border-radius;
    }

    input[type="submit"] {
        display: block;
        width: 100%;
        box-sizing: border-box;
        border-radius: $base-border-radius;
        height: 50px;
    }
}

#contribute {
    section {
        border-bottom: $base-border;
        border-color: rgba($medium-gray, 0.2);
        margin: $base-spacing 0;
        padding-bottom: $base-spacing;
        text-align: left;

        @media (min-width: $large-screen) {
            margin: $base-spacing * 2 0;
            padding-bottom: $base-spacing * 2 ;
        }

        &:first-of-type {
            border-top: $base-border;
            border-color: rgba($medium-gray, 0.2);
            padding-top: $base-spacing;

            @media (min-width: $large-screen) {
                padding-top: $base-spacing * 2 ;
            }
        }

        & > a {
            @include btn;
        }

        ul.long {
            @extend %default-ul;

            li {
                margin-bottom: $small-spacing;

                &:last-child {
                    margin-bottom: $small-spacing * 1.5;
                }

                &:after {
                    display: none;
                }
            }
        }
    }
}


ul.inline {
    li {
        display: inline-block;
        margin-bottom: 5px;

        a {
            background-color: $blue;
            color: #fff;
            padding: $base-spacing / 4 $base-spacing / 2;
            display: block;
        }
    }
}

ul.list {
    text-align: left;
    @extend %default-ul;

    li {
        margin-left: $base-spacing * 2;
        margin-right: $base-spacing * 2;
        margin-bottom: $small-spacing;
    }
}

ul.long {
    margin-bottom: $small-spacing;
    font-size: rem(14);

    li {
        margin-bottom: $small-spacing * 2;
        position: relative;

        &:after {
            content: '';
            display: block;
            width: 100px;
            height: 1px;
            left: 50%;
            bottom: - $small-spacing;
            margin-left: -50px;
            position: absolute;
            background-color: rgba($medium-gray, 0.3);
        }

        &:nth-child(even) {
            mark {
                background-color: rgba($dark-gray, 0.15);
                -webkit-box-shadow: 0px 0px 0px 3px rgba($dark-gray, 0.15);
                -moz-box-shadow: 0px 0px 0px 3px rgba($dark-gray, 0.15);
                box-shadow: 0px 0px 0px 3px rgba($dark-gray, 0.15);
            }
        }

        &:last-child {
            margin-bottom: $small-spacing * 3;

            &:after {
                display: none;
            }
        }
    }
}

#board {
    text-align: center;

    figure {
        @include outer-container;
        margin-bottom: $base-spacing;

        @media (min-width: $large-screen) {
            margin-bottom: $base-spacing * 2;
        }

        img {
            max-width: 256px;
            border-radius: 50%;
            -webkit-box-shadow: 0px 0px 0px 5px $light-gray;
            -moz-box-shadow: 0px 0px 0px 5px $light-gray;
            box-shadow: 0px 0px 0px 5px $light-gray;

            @media (min-width: $medium-screen) {
                @include span-columns(2);
            }
        }
        figcaption {
            text-align: left;

            @media (min-width: $medium-screen) {
                @include span-columns(10);
            }
        }
    }
}

.site-footer {
    background-color: darken($blue, 7);
    color: #fff;
    padding: $base-spacing / 2 $base-spacing;

    & > div {
        @include outer-container;
        text-align: left;
    }

    .footer-logo {
        margin-right: 10px;
        img {
            height: 32px;
        }
    }

    section {
        border-bottom: solid 1px rgba(255,255,255, 0.4);
        font-size: 13px;
        padding: $base-spacing 0;

        &:last-of-type {
            border: none;
            font-size: 12px;

            a {
                opacity: 0.9;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    a {
        color: inherit;
    }

    .cc {
        display: inline-block;
        line-height: 21px;

        &:before {
            @include icon-font();
            content: "\e601";
            font-size: 20px;
            float: left;
            margin-right: 3px;
        }

        .cc-by {
            &:before {
                @include icon-font();
                content: "\e600";
                font-size: 20px;
                float: left;
                margin-right: 3px;
            }
        }
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
