@import "holding";
@import "menus";


.page-template-page-holding {
  .main-navigation {
    right: 20px;
    top: 20px;
      
      display: none;
  }
}


/* ==========================================================================
   Content Page
   ========================================================================== */
   
.page-template-default {
    text-align: left;
    background-color: #fff;
    height: auto;
  
  & > header {
    max-width:940px;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
    position:relative;
    
    a {
        display: block;
        overflow: hidden;
      img {
          height:73px;
          margin-left: -48px;
          
          @media (min-width: $medium-screen) {
              margin-left: 0;
          }
      }
    }
  }
  
  article.page {
    .entry-header {
      background-color:$blue;
      background-image:url(img/bg.jpg);
      background-repeat:no-repeat;
      background-position:right top;
      color:#fff;
      margin-bottom:30px;
      
      .entry-title {
        max-width:940px;
        margin:0 auto;
        padding:30px 20px;
        font-size:50px;
          
          @media (min-width: $medium-screen) {
            font-size:62px;
          }
      }
    }
    
    .entry-content,
    .entry-footer {
      max-width:940px;
      margin-left:auto;
      margin-right:auto;
      padding-left:20px;
      padding-right:20px;
    }
  }
}

.page-template-page-contribute {
  & > form {
    max-width:940px;
    margin-left:auto;
    margin-right:auto;
    padding-left:20px;
    padding-right:20px;
  }
}
