@import "normalize";
@import "fullPage";

$blue: #12b2e3;


@mixin btn($background:#fff, $colour:$blue) {
  display:inline-block;
  height:40px;
  line-height:42px;
  padding-left:20px;
  padding-right:20px;
  border-radius:25px;
  font-weight:bold;
  text-decoration:none;
  color:$colour;
  border:solid 5px $colour;
  background-color:$background;
  
  &:hover {
    background-color:$colour;
    color:$background;
  }
}


/* ==========================================================================
   Base styles
   ========================================================================== */

html {
    color: #333;
    font-size: 1em;
    line-height: 1.4;
    font-weight:200;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

legend {
  font-weight:bold;
}

input[type="text"] {
  display:block;
  width:100%;
  box-sizing:border-box;
  height:40px;
  border-radius:20px;
  border:solid 2px #ccc;
  padding:10px 20px;
  margin-bottom:20px;
  
  &:focus {
    border-color:$blue;
  }
}

input[type="submit"] {
  @include btn ();
  line-height:32px;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Holding Page
   ========================================================================== */

.logo {
  background-repeat:no-repeat;
}
.opentrials.logo {
  max-width:100%;
  height:60px;
  width:225px;
  position:absolute;
  z-index:1;
  left:25px;
  top:25px;
  background-image:url(../img/logo.png);
  background-size: 225px 120px;
  
  @media only screen and (min-width: 700px) {
    position: fixed;
    top:auto;
    bottom:25px;
  }
}

.logos {
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
  @media only screen and (min-width: 700px) {
    position: fixed;
    bottom:15px;
    right:25px;
  }
}
.ok.logo {
  height:40px;
  width:35px;
  background-image:url(../img/ok.png);
  background-size: auto 80px;
  display:inline-block;
}
.cos.logo {
  height:40px;
  width:67px;
  background-image:url(../img/cos.png);
  background-size: auto 80px;
  display:inline-block;
  margin-left:20px;
}
.ljaf.logo {
  height:40px;
  width:104px;
  background-image:url(../img/ljaf.png);
  background-size: auto 80px;
  display:inline-block;
  margin-left:15px;
}

.fp-viewing-register {
  .logo {
    background-position:left -60px;
  }
  .ok.logo,
  .cos.logo,
  .ljaf.logo {
    background-position:left -40px;
  }
}

.intro {
  $background-colour: $blue;
  $colour: #fff;
  padding-left:20%;
  padding-right:20%;
  text-align:center;
  
  color:$colour;
  background-color:$background-colour;
  background-image:url(../img/bg.jpg);
  background-repeat:no-repeat;
  background-position:right top;
  
  a {
    color:$colour;
  }
  
  a.register,
  a.follow {
    @include btn($background-colour, $colour);
    margin-top:10px;
    background-color:$colour;
    color:$background-colour;
  }
  
  a.register {
    margin-right:10px;
  }
  
  @media only screen and (max-width: 700px) {
    padding:20px;
  }

  h1 {
    font-size:88px;
    margin:0;
    @media only screen and (max-width: 700px) {
      border: 0;
      clip: rect(0 0 0 0);
      height: 80px;
      overflow: hidden;
      padding: 0;
      width: 1px;
    }
  }

  .tagline {
    margin-top:-10px;
    display:block;
    font-size:38px;
    
    @media only screen and (max-width: 700px) {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }
  
  p {
    
    @media only screen and (max-width: 700px) {
      text-align:left;
    }
  }
}

.fp-responsive {
  a.register {
    display:none;
  }
}


.register.section {
  background-color:#f5f5f5;
  
  form {
    max-width:640px;
    margin-left:auto;
    margin-right:auto;
    padding-left:20px;
    padding-right:20px;
    
    legend {
      margin-bottom:20px;
    }
  }
}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}



/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
