@import "holding";
@import "menus";

.page-template-page-holding {
  .main-navigation {
      display: none;
  }
}

.screen-reader-text {
    @extend .visuallyhidden;
}

.banner {
    background-color: $blue;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    color: #fff;

    & > div {
        background-image: url(img/grid.png);
        background-position: center top;
    }

    header {
        @include outer-container;
        height: 60px;
        padding-top: $base-spacing;
        padding-bottom: $base-spacing;
        box-sizing: content-box;

        .logo {
            height: inherit;
            float: left;
            display: block;
            margin-left: $base-spacing;
        }

        + * {
            clear: both;
        }
    }

}
@import "home";
@import "content-page";
